@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-rgb: 255, 255, 255;
  --accent-color: 200, 180, 160;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  @apply px-4 py-2 hover:text-neutral-500 uppercase text-sm tracking-widest transition-colors;
}

.nav-link:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: #e5e5e5;
}

.product-card {
  @apply flex flex-col items-center text-center;
}

.product-card-image-container {
  @apply relative overflow-hidden mb-4;
}

.product-card-title {
  @apply font-medium text-base uppercase tracking-wider mb-2;
}

.product-card-description {
  @apply text-sm mb-4 text-neutral-600;
}

.see-more-button {
  @apply mt-4 text-xs uppercase tracking-widest hover:text-neutral-500 transition-colors;
}

